'.source.actr':
    "production":
        "prefix":"production"
        "body":"""\\(P ${1:production-name} \\"${2:optional comment string}\\"
        \t=${3:buffer-name}>
        \t\tISA  ${4:chunk-name}
        \t==>
        \t+${5:buffer-name}>
        \t\tISA  ${6:chunk-name}
        \t\\)\n"""
